body{
    
    margin:20px 10% 20px;
}

header{
    text-align: center;
    padding: 10px;
}

#container{
    text-align: left;
}

button{
    cursor: pointer;
    padding: 8px;
    font-size: 18px;
}

button:focus{
    background: red;
}

h1 {
    color: blue;
    font-size: 60px;
}

.four{
    margin: 2%;
    width: 20%;
    display: inline-block;
    vertical-align: top;
    font-size: 30px;
}

.two{
    margin:2%;
    width: 40%;
    padding: 2%;
    display: inline-block;
    vertical-align: top;
}

.two h2{
    text-transform: capitalize;
    color:skyblue
}