
header{
    text-align: center;
    padding: 10px;
}

#container{

    text-align: center;
    padding: 50px;
    width:100%;
    display:inline-block;
    margin: auto;

}


button{
    cursor: pointer;
    padding: 8px;
    font-size: 18px;
    border:none;
    margin:20px;
    background-color: rgb(239, 203, 0);
    border-radius: 5px;
}

button:focus{
    background: red;
}

h1 {
    color: blue;
    font-size: 60px;
}

.form-btn{
    border:none;
    background-color: blueviolet;
    color: white;
}

.two{
    display: inline-block;
    margin: 10px;
    min-width: 200px;
    min-height: 200px;
    border: 1px solid gainsboro;
    border-radius: 5px;
}

.del-btn{
    color: white;
    background-color: black;
    margin: 0;
}

.del-btn:focus{
    color: white;
    background: red;
